/node_modules
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
/public/frontend/.sass-cache
/public/images/!favicon.ico
/public/images/!default.png
/public/images/!logo.png
/public/images/!category.jpg
/public/images/!post.jpg
upload_this.zip
update.zip
food_items_img.zip
*.zip